@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

::-webkit-scrollbar{
    display: none;
}

body{
    box-sizing: border-box;
    margin: 0;
}

.nav{
    background-color: orange;
    display: flex;
    list-style: none;
    justify-content: space-between;
}
.logo{
    font-family: 'Nosifer', sans-serif;
    margin: auto;
    margin-left: 10px;
}
.rutas{
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    justify-content: space-between;
    margin: 20px 20px;
}
a{
    text-decoration: none;
    color: black;
    font-size: large;
    margin: auto 20px;
    cursor: pointer;
}
#categorias-dropdown-toggle {
    cursor: pointer;
}
#categorias-dropdown {
    display: none;
    position: absolute;
    background-color: orange;
    border-radius: 2vh;
    z-index: 1;
}
#categorias-dropdown a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    transition: background-color 0.3s;
    border-radius: 1vh;
    text-align: start;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 8px;
    margin-right: 8px;
    text-align: center;
}
#categorias-dropdown a:hover {
    background-color: rgb(255, 183, 48);
}