.forms{
    display: flex;
}
.form1{
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: -150px;
}
.form2{
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}
span{
    font-family: 'Nosifer', sans-serif;
}
label{
    font-family: 'Exo 2', sans-serif;
    margin: 10px auto;
    text-align: left;
    width: 250px;
}
input{
    font-family: 'Hind Siliguri', sans-serif;
    width: 250px;
    height: 35px;
    margin: auto;
    border: 1px solid rgba(128, 128, 128, 0.459);
    border-radius: 5px;
}
button{
    width: 250px;
    margin: 20px auto;
    background-color: orange;
    border: none;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.438);
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    transition: .25s ease-in-out;
}
button:hover{
    transform: scale(1.05);
    transition: .25s ease-in-out;
}
p{
    font-family: 'Hind Siliguri', sans-serif;
    background-color: red;
    width: 250px;
    padding: 5px;
    margin: auto;
    color: white;
    margin-top: 10px;
    border-radius: 10px;
}